body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: #fff;
}

canvas {
    border: 2px solid #fff;
    display: block;
    margin: 0 auto;
    background-color: #888;
}

#scoreBoard {
    margin-top: 10px;
    font-size: 20px;
}
